
.main_bd .nav_title{
    width:220px;
    height:60px;
    padding:5px 0;
    background:url("../image/title.png") -4px -245px no-repeat;
}
.tr_list .info{
    display:block;
    width:480px;
    height:95px;
    margin:40px auto;
}
.main_bd .tr_list .inf_f1{
    background:url("../image/ts/ts-title.png") 0px 0px no-repeat;
}
.main_bd .tr_list .inf_f2{
    background:url("../image/ts/ts-title.png") 0px -95px no-repeat;
}
.main_bd .tr_list .inf_f3{
    background:url("../image/ts/ts-title.png") 0px -195px no-repeat;
}
.main_bd .tr_list .inf_f4{
    background:url("../image/ts/ts-title.png") 0px -295px no-repeat;
}
.main_bd .tr_list .inf_f5{
    background:url("../image/ts/ts-title.png") 0px -390px no-repeat;
}